

.test {

    /*управлять расположением : block default; none скрыть; flex строка/колонка */
    display: block;
    /* ширина */
    width: 100%;
    /* высота */
    height: 100%;
    /* свойства заднего чего то -color, -size и тд */
    background: #fff;
    /* свойства шрифтов -family, -size и тд */
    font-family: 'sans-serif';
    /* внешние отступы : сверху справа снизу сдева*/
    margin: 0 0 0 0;
    /* внутрениие отступы : сверху справа снизу сдева*/
    padding: 0 0 0 0;
    /* обводка 3 параметра : ширина тип цвет */
    border: 1px solid red;
    /*скругление : сверху справа снизу сдева */
    border-radius: 0 0 0 0;

}





